:root {
    --primary-color: #8262b5;
    --white-color: #fff;
    --black-color: #000;

    --header-height: 120px;
    --navbar-height: 30px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes toLeft {
    from {
        opacity: 0.6;
        transform: translateX(100%);
    } 
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

