/* Mobile */
@media (max-width: 740px) {
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    #banner,
    #category,
    .blog__list,
    #footer {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header__template-heading {
        display: none;
    }

    .feature__container,
    .header__navbar-trademark {
        margin-left: 16px ;
    }

    .header__template--login-list,
    .header__navbar-icon {
        margin-right: 16px !important;
    }

    .header__navbar-item {
        display: none;
    }

    .header__navbar-icon {
        display: block;
    }

    .banner__container-main {
        height: 268px;
    }

    .banner__container-main-content {
        bottom: 22%;
        right: 8%;
    }
    
    .banner__extra-up-content-des, 
    .banner__extra-down-content-des,
    .banner__container-main-description {
        text-shadow: 0 0 1px #eeeeee;
        font-size: 1.8rem;
    }

    .banner__container-extra {
        height: 100%;
        margin-top: 16px;
    }
    
    .banner__extra-up-content {
        left: 9%;
    }

    .banner__extra-up,
    .banner__extra-down {
        height: 268px;
    }

    .banner__extra-down-content {
        left: 9%;
    }

    #category {
        margin-bottom: 30px;
    }
    .category__item {
        margin-top: 20px;
    }

    .category__item-img {
        height: 200px;
    }

    .category__item-btn {
        left: 50%;
        transform: translateX(-50%);
        width: calc(50% + 30px);
    }

    .footer__item-location,
    .footer__item-about {
        width: 100%;
    }

    .footer__social-icon i {
        font-size: 2rem;
    }

    .footer__down {
        height: 90px;
        flex-direction: column;
        justify-content: center;
    }

    .footer__down-partner {
        margin-top: 16px;
    }

    .footer__down-partner-icon i {
        font-size: 2.6rem;
    }
}

@media (max-width: 460px) {
    .banner__extra-up {
        height: 160px;
    }
}


/* >= Tablet */
@media (min-width: 740px) {

}

@media (min-width: 1113px) {

}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .header__navbar-item {
        display: none;
    }

    .header__navbar-icon {
        display: block;
    }

    .banner__container-main-content {
        bottom: 22%;
    }

    .banner__container-extra {
        height: 100%;
        margin-top: 16px;
    }
    
    .banner__extra-up-content {
        left: 9%;
    }

    
    .banner__extra-up,
    .banner__extra-down {
        height: 300px;
    }

    .banner__extra-down-content {
        left: 9%;
    }

    .category__item-img {
        height: 400px;
    }

    .blog__item-about {
        text-align: center;
    }

    .blog__item-img {
        height: 400px;
    }

    .footer__item-location,
    .footer__item-about {
        width: 100%;
    }
    
    .footer__social-icon i {
        font-size: 3rem;
    }
}


/* > PC low resolution */
@media(max-width: 1024px) {
    .header__navbar-menu {
        display: block;
    }

    .header__navbar-icon {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .header__navbar-menu {
        margin-left: 20px;
    }

    .header__navbar-menu-icon i {
        font-size: 1.8rem;
        cursor: pointer;
    }

    .header__navbar-menu-icon-list:hover {
        color: var(--primary-color);
    }

    /* Menu navigation */
    .header__menu {
        display: block;
    }

    .menu-input:checked ~ .header__menu-overlay {
        display: block;
    }

    .menu-input:checked ~ .header__menu .header__menu-navigation {
        transform: translateX(0%);
        opacity: 1;
    }
    
    .menu-input {
        display: none;
    }
    
    .header__menu-overlay {
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: none;
        animation: fadeIn ease-out 0.3s;
    }
    
    .header__menu-navigation {
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        max-width: 100%;
        background-color: var(--white-color);
        transform: translateX(100%);
        opacity: 0;
        transition: transform ease-out 0.3s, opacity ease-out 0.3s;
    }

    .header__menu-navigation-list {
        list-style: none;
        margin-top: 24px;
    }

    .active a {
        color: var(--primary-color) !important;
    }

    .header__menu-navigation-item a {
        font-size: 1.4rem;
        font-weight: 800;
        text-decoration: none;
        color: var(--black-color);
        display: block;
        padding: 12px 0;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        transition: all ease-out 0.3s;
    }

    .header__menu-navigation-item a:hover {
        color: var(--primary-color);
    }

    .header__menu-navigation-close {
        position: absolute;
        top: 3%;
        right: 6%;
        font-size: 2.4rem;
        color: var(--black-color);
        margin: 0 10px;
    }
}

/* >>>>> */

@media(min-width: 1024px) and (max-width: 1239px) {
    .header__navbar-menu {
        display: none;
    }

    .header__navbar-item-name {
        margin: 0 20px;
    }

}

@media (max-width: 1310px) {
    .header__navbar-shop {
        display: none !important;
    }

    .header__search {
        top: calc(100% + 20px);
        right: 0;
        left: unset;
    }
}

@media (max-width: 1374px) {
    .slick-prev,
    .slick-next {
        display: none !important;
    }
}

@media (max-width: 778px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

/* @media (max-width: 1440px) {
    .header__navbar-shop {
        display: none !important;
    }
}
 */

